# Student Alcohol Consumption

### Step 1. Import the necessary libraries

In [3]:
import numpy as nm
import pandas as pd

### Step 2. Import the datasets *student-mat* and *student-por* and merge them.

In [4]:
import numpy as nm
import pandas as pd
df1=pd.read_csv('C:/Users/VAIBHAV RUSTAGI/Downloads/student-mat.csv')
df2=pd.read_csv('C:/Users/VAIBHAV RUSTAGI/Downloads/student-por.csv')
df1.head()
df2.head()
display(pd.merge(df1, df2,   how='outer', validate="one_to_many"))

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,4,10,12,12
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,16,16
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,4,14,14,14
16,GP,F,16,U,GT3,T,4,4,services,services,...,3,2,3,1,2,2,6,13,14,14
17,GP,F,16,U,GT3,T,3,3,other,other,...,5,3,2,1,1,4,4,8,10,10
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,5,5,2,4,5,16,6,5,5
19,GP,M,16,U,LE3,T,4,3,health,other,...,3,1,3,1,3,5,4,8,10,10
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,13,14,15
21,GP,M,15,U,GT3,T,4,4,health,health,...,5,4,2,1,1,5,0,12,15,15
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,4,5,1,1,3,5,2,15,15,16
23,GP,M,16,U,LE3,T,2,2,other,other,...,5,4,4,2,4,5,0,13,13,12
24,GP,F,15,R,GT3,T,2,4,services,health,...,4,3,2,1,1,5,2,10,9,8
25,GP,F,16,U,GT3,T,2,2,services,services,...,1,2,2,1,3,5,14,6,9,8
26,GP,M,15,U,GT3,T,2,2,other,other,...,4,2,2,1,2,5,2,12,12,11
27,GP,M,15,U,GT3,T,4,2,health,services,...,2,2,4,2,4,1,4,15,16,15
28,GP,M,16,U,LE3,A,3,4,services,other,...,5,3,3,1,1,5,4,11,11,11
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,4,5,5,5,5,16,10,12,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1014,MS,F,18,U,GT3,T,3,3,services,services,...,4,3,2,1,3,3,6,13,12,13
1015,MS,F,17,U,LE3,T,4,4,at_home,at_home,...,2,3,4,1,1,1,4,15,14,15
1016,MS,F,17,R,GT3,T,1,2,other,services,...,3,2,2,1,2,3,0,13,13,13
1017,MS,M,18,R,GT3,T,1,3,at_home,other,...,3,3,4,2,4,3,0,8,10,9
1018,MS,M,18,U,LE3,T,4,4,teacher,services,...,4,2,2,2,2,5,0,15,16,16
1019,MS,F,17,R,GT3,T,1,1,other,services,...,5,2,1,1,2,1,0,8,8,9
1020,MS,F,18,U,GT3,T,2,3,at_home,services,...,5,2,3,1,2,4,0,10,10,10
1021,MS,F,18,R,GT3,T,4,4,other,teacher,...,3,2,2,4,2,5,0,7,5,0
1022,MS,M,18,R,LE3,T,1,2,at_home,services,...,4,3,3,2,3,3,3,9,10,10
1023,MS,F,17,U,GT3,T,2,2,other,at_home,...,3,4,3,1,1,3,8,10,11,12
1024,MS,F,17,R,GT3,T,1,2,other,other,...,3,5,5,1,3,1,4,7,8,9
1025,MS,F,18,R,LE3,T,4,4,other,other,...,5,4,4,1,1,1,0,15,17,17
1026,MS,F,18,R,GT3,T,1,1,other,other,...,4,3,2,1,2,4,4,10,11,12
1027,MS,F,19,R,GT3,T,1,1,at_home,other,...,4,3,3,1,1,3,4,7,8,9
1028,MS,F,18,R,LE3,T,4,4,teacher,services,...,5,4,3,3,4,2,1,13,14,14
1029,MS,F,18,U,GT3,T,3,3,other,other,...,4,1,3,1,2,1,1,16,16,16
1030,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,10,8,9,9
1031,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,17,18,19
1032,MS,M,18,R,GT3,T,2,1,other,other,...,4,4,3,1,3,5,0,7,7,0
1033,MS,M,17,U,GT3,T,2,3,other,services,...,4,4,3,1,1,3,4,14,15,16
1034,MS,M,19,R,GT3,T,1,1,other,services,...,4,3,2,1,3,5,0,5,8,0
1035,MS,M,18,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,0,7,7,0
1036,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,0,14,17,15
1037,MS,F,17,U,GT3,T,4,3,teacher,other,...,5,5,4,1,1,1,0,6,9,11
1038,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,4,7,9,10
1039,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
1040,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
1041,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
1042,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
1043,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

### Step 3. Assign it to a variable called df.

In [5]:
df=pd.merge(df1, df2,   how='outer', validate="one_to_many")

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [6]:
df3 = df.loc[: , "school":"guardian"]
df3.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Step 5. Create a lambda function that captalize strings.

In [10]:
capitalStr = lambda a: a.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [11]:
df3['Mjob']=df3['Mjob'].apply(capitalStr)
df3['Fjob']=df3['Fjob'].apply(capitalStr)
df3['Mjob'].head()
df3['Fjob'].head()

0     Teacher
1       Other
2       Other
3    Services
4       Other
Name: Fjob, dtype: object

### Step 7. Print the last elements of the data set.

In [12]:
df3.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
1039,MS,F,19,R,GT3,T,2,3,Services,Other,course,mother
1040,MS,F,18,U,LE3,T,3,1,Teacher,Services,course,mother
1041,MS,F,18,U,GT3,T,1,1,Other,Other,course,mother
1042,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother
1043,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [20]:
df3['Mjob']=df3['Mjob'].apply(capitalStr)
df3['Fjob']=df3['Fjob'].apply(capitalStr)
df3['Mjob'].head()
df3['Fjob'].head()

0     Teacher
1       Other
2       Other
3    Services
4       Other
Name: Fjob, dtype: object

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker

In [19]:
def majority(x):
    if x >=18:
         return True
    else: 
         return False
        

df3['legal_drinker']=df3['age'].apply(majority)
df3['legal_drinker'].head()

0     True
1    False
2    False
3    False
4    False
Name: legal_drinker, dtype: bool

### Step 10. Multiply every number of the dataset by 10.

In [21]:
def multiply10(x):
    if type(x)==int:
        return x*10
    return x

df3.applymap(multiply10).head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,mother,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,father,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,mother,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,mother,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,home,father,False